---
import Layout from "../layouts/Layout.astro";
import { Note } from "../components/preact/Note";
import ProgressCircleForAvatar from "../components/Astro/ProgressCircleForAvatar.astro";
import {Avatar} from "../components/preact/Avatar"
---

<Layout>
	<h1 class="font-thin">Todo App</h1>
	<div></div>
	<ProgressCircleForAvatar>
		<Avatar class="w-8 h-8 rounded-full" />

	</ProgressCircleForAvatar>
</Layout>
