---
import "../assets/global.css";
import "@fontsource-variable/montserrat";
import { Sidebar } from "../components/preact/sidebar/Sidebar";
import { ToggleSidebar } from "../components/preact/sidebar/ToggleSidebar";
import { TaskViewer } from "../components/preact/TaskViewer/TaskViewer";
import { Modal } from "../components/preact/Modal";
import { AddTaskForm } from "../components/preact/sidebar/AddTaskForm";
import { theme } from "../stores/mod";
import { ToggleTheme } from "../components/preact/ToggleTheme";
const { pathname: currentPage } = Astro.url;
---

<html lang="en" data-theme={theme.value}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Todo App</title>
	</head>
	<body
		class="w-dvw h-dvh grid  overflow-hidden relative"
	>
		<div class="grid grid-cols-[minmax(0,1fr)_minmax(25rem,5fr)]">
			

			<Sidebar currentPage={currentPage} client:load />
			<section>
				
				<header class="flex justify-end items-center h-16">
					<slot name="header" />
					<ToggleSidebar client:idle class=`absolute top-10 left-10` />
					<ToggleTheme className="absolute top-10 left-20" client:load/>
				
					
				</header>
				<main class="flex flex-col overflow-scroll h-[80dvh] px-10 rounded">
					<slot />
				</main>
				<footer class="bg-white w-full h-full"></footer>
			</section>
		</div>
		<TaskViewer/>
		<Modal
		animation="scale"
		classBackdrop=""
		classFather="fixed self-center place-self-center  z-100"
		class={"min"}
		id="add-task-modal"
		>
			<div class="bg-white w-xl text-center shadow-theme-2 rounded-lg p-2">
				<AddTaskForm />
			</div>
		</Modal>
	</body>
</html>

<script>
	import { useGetManyTasks } from "../hooks/tasks.ts";
	import { tasks, userID } from "../stores/mod";
	const res = await useGetManyTasks({ userID });
	if (res.ok && res.data) {
		tasks.value = res.data;
	}
</script>

<style>
	html,
	body {
		font-family:
			"Montserrat Variable",
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
