@import "tailwindcss";
@plugin "tailwindcss-motion";

@custom-variant select-picker [&::picker(select)];

@custom-variant option-checkmark [&::checkmark];

@theme {
    --color-theme-red-100: #c0392b;
    ---color-theme-red-200: oklch(0.505 0.213 27.518) --color-theme-orange: #FF5733;
    --color-theme-orange-100: #FF5733;
    --color-theme-orange-200: oklch(0.75 0.183 55.934);
    --color-theme-blue: oklch(0.488 0.243 264.376);
    --color-theme-gray-100: #bdc3c7;
    --shadow-theme-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --shadow-theme-2: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    --shadow-theme-3: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

@utility content-visibility-auto {
    content-visibility: auto;
}

@utility motion-modal {
    transition: scale .3s ease, display .3s ease allow-discrete;
    scale: 0;
    display: none;

    &[checked] {
        scale: 1;
        transition: scale .3s ease-in-out, opacity .3s ease;

        @starting-style {
            scale: 0;
        }
    }
}

select {
  &, &::picker(select) {
    appearance: base-select;
    @apply motion-ease-spring-smooth
  }
  
  &::picker(select) {
    transition: 
      display allow-discrete .3s, 
      opacity 150ms,
      transform 150ms,
      overlay 150ms allow-discrete;
  }
  
  &:not(:open)::picker(select) {
    opacity: 0;
  }
  
  &:open::picker(select) {
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }
    &::picker-icon {
    display: none;
  }
    &:not(:open)::picker(select) {
    opacity: 0;
    transform: scale(.95);
  }
    &::picker(select) {
    background: light-dark(white, var(--color-theme-gray-100));
    padding: 0;
    margin-block: 5px;
    border: none;
    box-shadow: var(--shadow-theme-1);
  }
}