---
import LandingLayout from "../layouts/LandingLayout.astro";
import { Button } from "../components/preact/Button";
import { Navigation } from "../components/preact/landing/Navigation";
import { Comments } from "../components/preact/landing/Comments";
import { MacWindow } from "../components/preact/landing/MacWindow";
---

<LandingLayout title="Garnet">
	<Navigation />

	<section class="pt-20">
		<MacWindow />
		<Comments />
	</section>
</LandingLayout>
