---
import LandingLayout from "../../layouts/LandingLayout.astro";
import {Register as RegisterForm} from "../../components/preact/Register"
---

<LandingLayout>

    <main>
        <h1 class="text-center text-4xl">Register</h1>
        <RegisterForm client:load/>
    </main>

</LandingLayout>
