---
import Layout from "../../layouts/Layout.astro";
import { ViewTask } from "../../components/preact/Task";
import { Icon } from "../../components/preact/icons/Icon";
import { ListTask } from "../../components/preact/ListTask";
import { TaskCreator } from "../../components/preact/TaskCreator";
import { AddTask } from "../../components/preact/AddTask"


---

<Layout title="Today" >
  <main class="flex flex-col items-left h-dvh w-[80%] mx-auto">
    <section class="relative text-grey-200">
      <h1
        class="h-[5rem] font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-br from-rose-900 to-rose-700"
      >
        Today
      </h1>
      <Icon name="circleCheker" class="w-6 h-6 absolute top-[40px]" />
    </section>

    <ListTask client:load />
    <ViewTask client:load />
    <hr class="border-gray-200" />
    <AddTask client:load/>
    <TaskCreator client:load/>
  </main>
</Layout>

<script>
  import { createSwapy } from "swapy";
  const container = document.querySelector(".container") as HTMLElement;
  const swapy = createSwapy(container);
  swapy.enable(true);
  
</script>
