---
import Layout from "../../layouts/Layout.astro";
import { ViewTask } from "../../components/preact/Task";
import { Icon } from "../../components/preact/icons/Icon";
import { Button } from "../../components/preact/Button";
import { ListTask } from "../../components/preact/ListTask";
---

<Layout title="Today">
  <main class="flex flex-col items-left h-dvh w-[80%] mx-auto">
    <section class="relative text-grey-200">
      <h1
        class="h-[5rem] font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-br from-rose-900 to-rose-700"
      >
        Today
      </h1>
      <Icon name="circleCheker" class="w-6 h-6 absolute top-[40px]" />
    </section>

    <ListTask client:load></ListTask>
    <ViewTask client:load />
    <hr class="border-gray-200" />
    <Button
      class="cursor-pointer flex rounded items-center w-full hover:*:bg-red-500 hover:*:*:stroke-zinc-100 text-sm hover:text-red-500 text-zinc-400 hover:bg-white my-1"
      
    >
      <div
        class="flex relative mx-2 w-4 h-4 rounded-full items-center justify-center text-sm ml-0"
      >
        <Icon name="plus" class="w-5.5 h-5.5 absolute stroke-red-500" />
      </div>
      Add task
    </Button>
  </main>
</Layout>

<script>
  import { createSwapy } from "swapy";
  const container = document.querySelector(".container") as HTMLElement;
  const swapy = createSwapy(container);
  swapy.enable(true);
</script>
