---
import Layout from "../../layouts/Layout.astro";
import { Task } from "../../components/preact/Task";
import { tasks } from "../../utils/mocks";
---

<Layout title="Today">
    <main class="flex flex-col items-center justify-center h-dvh">
        <h1
            class="font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-br from-rose-900 to-rose-700"
        >
            Today
        </h1>
        <Task task={tasks[0]} client:load />
    </main>
</Layout>
