---
import { Icon } from "./preact/icons/Icon";
---

<nav>
    <section>
        <div>
            <Icon name="bell" />
        </div>
        <div></div>
    </section>
    <section></section>
    <section>
        <slot />
    </section>
</nav>
