---
import { Button } from "./Button";
---

<nav class="p-5 sticky top-0 font-montserrat bg-[#f4f2ed] z-50">
    <ul class="flex justify-around items-center">
        <div>
            <li>
                <img
                    src="../../public/logo.svg"
                    alt="logo"
                    class="w-22 cursor-pointer"
                />
            </li>
        </div>
        <div>
            <Button type="underline">How it works</Button>
            <Button type="underline">Features</Button>
            <Button type="underline">Pricing</Button>
        </div>
        <div>
            <Button type="outlined">Log in</Button>
            <Button type="filled">Sign up</Button>
        </div>
    </ul>
</nav>
