---

---

<nav>
    <ul>
        <div>
            <li>
                <img src="../assets/" alt="" />
            </li>
        </div>
        <div>
            <li>How it works</li>
            <li>Features</li>
            <li>Pricing</li>
        </div>
    </ul>
</nav>
