---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/Button.tsx";
---

<Layout>
	<header class="flex justify-center items-center mx-32">
		<section>
			<h1 class="font-drawed text-6xl">
				A headline for your <span class="block">cool website</span>
			</h1>
			<p class="text-balance">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
				autem itaque reprehenderit voluptate optio totam distinctio
				accusamus tempora nam natus, illum architecto placeat quia, eius
				necessitatibus in sint sit. Totam?
			</p>
			<div>
				<Button type="filled">Call to action</Button>
				<Button type="outlined">Secondary Action</Button>
			</div>
		</section>
		<section>
			<img class="w-[900px]" src="../../public/header.png" alt="header" />
		</section>
	</header>
</Layout>
