---
import Layout from "../../layouts/Layout.astro";
import TasksZone from "../../components/svelte/TasksZone.svelte";
import { TaskViewer } from "../../components/preact/TaskViewer/TaskViewer";
---

<Layout title="Inbox">
    <h1
        class="font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-br from-rose-900 to-rose-700 py-2 mx-10"
    >
        Inbox
    </h1>
    <main class="mx-auto w-full px-10 overflow-y-scroll h-auto">
        <TasksZone client:load />
        <TaskViewer client:load />
    </main>
</Layout>

<script>
    document.cookie;
</script>
