---
import { FormLogin } from "../../components/preact/FormLogin"
import LandingLayout from "../../layouts/LandingLayout.astro"
---

<LandingLayout>
    <div class="h-dvh bg-gradient-to-b w-dvw grid grid-cols-[1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr] gap-2 items-center">
        <section class="col-start-2 h-full w-full grid items-center">    
            <h1 class="text-center text-4xl">Login</h1>
            <FormLogin client:load/>
        </section>
        <section></section>
    </div>
</LandingLayout>
