---
import { FormLogin } from "../../components/preact/FormLogin"
import LandingLayout from "../../layouts/LandingLayout.astro"
---

<LandingLayout>
    <div class="h-dvh bg-gradient-to-b bg-[#059257]  w-dvw flex flex-col items-center justify-center">

        <FormLogin client:load>
    </div>
</LandingLayout>
