---
import { Registration } from "../../components/preact/register/Registration";
import { RoadRegistration } from "../../components/preact/register/RoadRegistration";
import LandingLayout from "../../layouts/LandingLayout.astro";
---
<LandingLayout>
    <div class="h-dvh bg-theme-lime-100/5 text-black  w-dvw flex flex-col items-center justify-center">

        <img 
        class="absolute bottom-10 right-10 rotate-[165deg] w-xs opacity-50 object-cover"
        src="/backgrounds/doobleCandyGradient.avif" 
        alt="">

        <h1 class="text-center text-4xl">Register</h1>

        <Registration client:load/>
        

        <RoadRegistration className="w-10 rounded-full overflow-hidden flex justify-center items-center" client:load/>
    </div>
    
</LandingLayout>
