---
import LandingLayout from "../../layouts/LandingLayout.astro";
import { Registration, Step } from "../../components/preact/Register/Registration";
import {RoadRegistration} from "../../components/preact/Register/RoadRegistration";
---

<LandingLayout>

    <div class="h-dvh bg-gradient-to-b text-black  w-dvw flex flex-col items-center justify-center">

        <h1 class="text-center text-4xl">Register</h1>
        {console.log(Step.value)}
        <Registration client:load/>

        <RoadRegistration className="w-4 h-4 rounded-full" client:load/>
    </div>
    
</LandingLayout>
