<body>
    <main>
        <select name="" id="bienvenido">
            <option value="hola">hola</option>
            <option value="adios">adios</option>
            <option value="bienvenido">bienvenido</option>
        </select>
    </main>
</body>