---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "../../components/preact/icons/Icon";
import { ListTask } from "../../components/preact/ListTask";
import { TaskCreator } from "../../components/preact/TaskCreator";
import { Modal } from "../../components/preact/Modal";
import { ViewTask } from "../../components/preact/Task";
---

<Layout title="Today">
  <main class="flex flex-col items-left h-dvh w-[80%] mx-auto">
    <section class="relative text-grey-200">
      <h1
        class="h-[5rem] font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-br from-rose-900 to-rose-700"
      >
        Today
      </h1>
      <Icon name="circleCheker" class="w-6 h-6 absolute top-[40px]" />
    </section>
    <label
      class="select-none cursor-pointer w-fit px-5 py-1 bg-neutral-200 rounded my-2 hover:bg-neutral-300 transition-all duration-300"
      for="modal-today">X</label
    >
    <Modal
      class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-8/2 border border-neutral-200 rounded z-[100]"
      id="modal-today"
    >
      <div class="bg-white w-xl text-center">
        <h2 class="py-2">Today</h2>
      </div>
    </Modal>

    <ListTask client:load />
    <ViewTask client:load />
    <hr class="border-gray-200" />

    <TaskCreator client:load />
  </main>
</Layout>

<script>
  import { createSwapy } from "swapy";

  const container = document.querySelector("#swapy-container") as HTMLElement;
  const swapy = createSwapy(container);
  swapy.enable(true);
</script>
