---
import "../assets/global.css";
import "@fontsource-variable/montserrat";
import SideBar from "../components/Astro/SideBar.astro";

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Todo App</title>
	</head>
	<body
		class="group/body has-[#mover-sidebar:checked]: has-[#mover-sidebar:checked]:-translate-x-40  transition ease-linear duration-150   w-[100%] h-dvh grid grid-cols-[minmax(0,1fr)_minmax(25rem,5fr)] grid-rows-1 m-0 p-0 overflow-hidden"
	>
	
		<SideBar 
			class="has-[#mover-sidebar:checked]:-translate-x-15 transition ease-linear duration-150"
		/>
		<section class="mx-20 group-has-[#mover-sidebar:checked]/body:translate-x-20 ease-linear transition duration-120">
			<header class="flex justify-end items-center h-16">
				<slot name="header" />
			</header>
			<main class="flex flex-col">
				<slot />
			</main>
		</section>
	</body>
</html>

<style>
	html,
	body {
		font-family:
			"Montserrat Variable",
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
