---
import { Button } from "../preact/Button";
import { Icon } from "../preact/icons/Icon";
import ProgressCircleForAvatar from "./ProgressCircleForAvatar.astro";
import { Avatar } from "../preact/Avatar";

---
<section class="flex flex-col w-64 bg-neutral-100/50 rounded-r-lg">
    <section class="flex items-center">
        <ProgressCircleForAvatar progress={5} tasks={8} >
            <Avatar class="w-9 h-9 rounded-full" />
        </ProgressCircleForAvatar>
        nander
        <select ></select>
        <Icon class="w-4 fill-transparent stroke-neutral-500 stroke-2 " name="bell" />
        <Icon class="w-4 fill-transparent stroke-neutral-500 stroke-2 " name="sidebar" />

    </section>

    <Button class="cursor-pointer flex rounded items-center w-full x-2 py-1 text-sm text-orange-700 hover:bg-orange-200 transition-all duration-300 ">
        <div class="mx-2 w-6 h-6 rounded-full bg-orange-700 flex items-center justify-center text-sm ml-0">
            <Icon name="plus" class="w-6 stroke-white" />
        </div>
        Add task
    </Button>
    <Button icon="search" > search </Button>
    <Button icon="calendar" > Añadir tarea </Button>
    <Button icon="inbox" > inbox </Button>
    <Button icon="sunrise" > upcoming </Button>
    <Button icon="grid" > filter & label </Button>
</section>